html {
  overflow: hidden;
  background: transparent;
}

.sphere {
  transform: rotateY(-135deg);
}
.sphere, .sphere * {
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-style: preserve-3d;
}

.ring {
  margin: -13em;
  border: solid 1px #FF2887;
  width: 26em;
  height: 26em;
  border-radius: 50%;
}
.ring:nth-child(1) {
  transform: translateZ(-13em) scale(0);
  animation: next1 2s linear infinite;
}
@keyframes next1 {
  to {
    transform: translateZ(-12.75021em) scale(0.19509);
  }
}
.ring:nth-child(2) {
  transform: translateZ(-12.75021em) scale(0.19509);
  animation: next2 2s linear infinite;
}
@keyframes next2 {
  to {
    transform: translateZ(-12.01043em) scale(0.38268);
  }
}
.ring:nth-child(3) {
  transform: translateZ(-12.01043em) scale(0.38268);
  animation: next3 2s linear infinite;
}
@keyframes next3 {
  to {
    transform: translateZ(-10.8091em) scale(0.55557);
  }
}
.ring:nth-child(4) {
  transform: translateZ(-10.8091em) scale(0.55557);
  animation: next4 2s linear infinite;
}
@keyframes next4 {
  to {
    transform: translateZ(-9.19239em) scale(0.70711);
  }
}
.ring:nth-child(5) {
  transform: translateZ(-9.19239em) scale(0.70711);
  animation: next5 2s linear infinite;
}
@keyframes next5 {
  to {
    transform: translateZ(-7.22241em) scale(0.83147);
  }
}
.ring:nth-child(6) {
  transform: translateZ(-7.22241em) scale(0.83147);
  animation: next6 2s linear infinite;
}
@keyframes next6 {
  to {
    transform: translateZ(-4.97488em) scale(0.92388);
  }
}
.ring:nth-child(7) {
  transform: translateZ(-4.97488em) scale(0.92388);
  animation: next7 2s linear infinite;
}
@keyframes next7 {
  to {
    transform: translateZ(-2.53617em) scale(0.98079);
  }
}
.ring:nth-child(8) {
  transform: translateZ(-2.53617em) scale(0.98079);
  animation: next8 2s linear infinite;
}
@keyframes next8 {
  to {
    transform: translateZ(0em) scale(1);
  }
}
.ring:nth-child(9) {
  transform: translateZ(0em) scale(1);
  animation: next9 2s linear infinite;
}
@keyframes next9 {
  to {
    transform: translateZ(2.53617em) scale(0.98079);
  }
}
.ring:nth-child(10) {
  transform: translateZ(2.53617em) scale(0.98079);
  animation: next10 2s linear infinite;
}
@keyframes next10 {
  to {
    transform: translateZ(4.97488em) scale(0.92388);
  }
}
.ring:nth-child(11) {
  transform: translateZ(4.97488em) scale(0.92388);
  animation: next11 2s linear infinite;
}
@keyframes next11 {
  to {
    transform: translateZ(7.22241em) scale(0.83147);
  }
}
.ring:nth-child(12) {
  transform: translateZ(7.22241em) scale(0.83147);
  animation: next12 2s linear infinite;
}
@keyframes next12 {
  to {
    transform: translateZ(9.19239em) scale(0.70711);
  }
}
.ring:nth-child(13) {
  transform: translateZ(9.19239em) scale(0.70711);
  animation: next13 2s linear infinite;
}
@keyframes next13 {
  to {
    transform: translateZ(10.8091em) scale(0.55557);
  }
}
.ring:nth-child(14) {
  transform: translateZ(10.8091em) scale(0.55557);
  animation: next14 2s linear infinite;
}
@keyframes next14 {
  to {
    transform: translateZ(12.01043em) scale(0.38268);
  }
}
.ring:nth-child(15) {
  transform: translateZ(12.01043em) scale(0.38268);
  animation: next15 2s linear infinite;
}
@keyframes next15 {
  to {
    transform: translateZ(12.75021em) scale(0.19509);
  }
}
.ring:nth-child(16) {
  transform: translateZ(12.75021em) scale(0.19509);
  animation: next16 2s linear infinite;
}
@keyframes next16 {
  to {
    transform: translateZ(13em) scale(0);
  }
}